{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% load static %}
{% block content %}

<!-- <div class="container login-page content">
    <div class="login-form">
        <span class="navbar-brand m-0 pt-0 pb-0">
            <a class="navbar-brand" href="/"><i  ></i><img src="{% static 'pho/insta.png' %}"  alt= "" class="logo"></a>
        </span>
            
        <div>
            <form action="" method='POST'>
                {% csrf_token %}
                <p> <input type="text" name='username' placeholder="username"> </p>
    
                <p> <input type="password" name='password' placeholder="Enter password"> </p>
    
    
                <button type="submit" value="login">login</button>
    
            </form>
        </div>      
    </div>

    <div class="lower-container">
        <p>haven't signed up yet?</p>
        <a href="{% url 'register' %}">sign up</a>
    </div> -->


<div class="container">
    <h1>login page</h1>
    
        <span class="navbar-brand m-0 pt-0 pb-0">
            <a class="navbar-brand" href="/"><i  ></i><img src="{% static 'pho/insta.png' %}"  alt= "" class="logo"></a>
        </span>
    <form  action="{% url 'login'%}" method="post">
        {% csrf_token %}

        <span> {{login_form.email.label}} </span>
        <p> {{login_form.email}} </p>
        <span> {{login_form.password.label}} </span>
        <p> {{login_form.password}} </p>
            {{ message }}
        {% for error in login_form.errors %}
            <p style = "color:red" > {{ error }}</p>
        {% endfor %}

        {% if login_form.non_field_errors %}
            <p style = "color:red" > login_form.non_field_errors </p>

        {% endif %}

        <button type="submit" > Login </button>

      </form>
</div>
{% endblock %}